@{
    ViewBag.Title = "Home Page";
}
@using FontsPriject.Models
@model FontsPriject.Models.Font_List
@{
    List<Font_Models> fontList = new List<Font_Models>();
    if (Model != null)
    {
        fontList = Model.list;

    }
}



<header class="my-4">
    <div style="margin:0 10px 0 10px;">
        <nav>
            <div class="logo">
                @*<h2>Fancy Text <br /><span>Generator</span></h2>*@
                <a href="@Url.Action("Index","Home")">
                    <img src="~/image/logo3.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="nav-item col-right" id="myHeader">
                <ul>
                   @* <textarea></textarea>*@
                    <li><a href="@Url.Action("About" ,"Home")">About Us</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    <li><a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Disclaimer","Home")">Disclaimer</a></li>
                    <li><a href="@Url.Action("TermCondition","Home")">Term & Condition</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="main-bar">
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
        </div>
        <div class="Heading_wrp row">
            @*<div class="Inpt">
                   <input class="pb-5 px-2 text-secondary col-12 bg-white" type="text" name="text" id="text1" placeholder="type or paste some text here">
                </div>*@
        </div>
    </div>
</header>
<!-- banner -->
<section class="banner">
    <div class="container">
        <div class="banner_content row">
            <div class="banner_cont1 bnr_commmn col-12 col-sm-12 col-md-6"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="2000" data-aos-easing="ease-in-out">
                <h1 class="line-1 anim-typewriter">
                    Fancy Text Generator <br /> & Font Changer 
                    @*😎 Cool Font Generator*@
                </h1>
                <p>
                    Fonts for Instagram, Facebook, WhatsApp, Twitter, Snapchat, Tiktok & any other places....
                </p>
                <div class="search">
                    <input type="text" id="text1" name="font" placeholder="search your font here..." onkeyup="myfunction()" >
                    <div class="search-item">
                        <svg width="25px" height="25px" viewBox="0 0 1024 1024" data-aut-id="icon" class="" fill-rule="evenodd">
                            <path class="rui-77aaa" d="M448 725.333c-152.917 0-277.333-124.416-277.333-277.333s124.416-277.333 277.333-277.333c152.917 0 277.333 124.416 277.333 277.333s-124.416 277.333-277.333 277.333v0zM884.437 824.107v0.021l-151.915-151.936c48.768-61.781 78.144-139.541 78.144-224.192 0-199.979-162.688-362.667-362.667-362.667s-362.667 162.688-362.667 362.667c0 199.979 162.688 362.667 362.667 362.667 84.629 0 162.411-29.376 224.171-78.144l206.144 206.144h60.352v-60.331l-54.229-54.229z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- table -->
<section class="Font_table_wrp wow fadeIn  animated" style="visibility: hidden; animation-name: none;" id="Font_table">
    <div class="container-fluid">
        <div class="Font_table">
            <ul class="row d-flex justify-space-between Unorder1 outList">
              
           
          
                
                @*<li class=" py-3 CopyContent" id="CopyContent">
                        1
                        <i class="fas fa-copy" title="Copy Text" onclick="copyFn()"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        2
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        3
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        4
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        5
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        6
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        7
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        8
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3">
                        9
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>*@
            </ul>
        </div>
    </div>
</section>
<!-- end--here -->
<!-- content -->
<section class="font_desing">
    <div class="side_animation">
        <div class="mid_anime">
        </div>
    </div>
    <div class="container row">
        <div class="Font_wrp bg-white text-center py-1 mb-3">
            <h5>Need more fonts?</h5>
            <a href="@Url.Action("CustomFonts" ,"Home")">Design Your Own Fancy Fonts</a>
        </div>
    </div>
    @*<narrow.length> list of Item </narrow.length>*@

    @*<div

            <select id="list1" name="fontsize">
                <option value="1">20px</option>
                <option value="2">32px</option>
                <option value="3">45px</option>
                <option value="4">65px</option>
                <option value="5">70px</option>
            </select>
            <button onclick="function1()">Click me</button>
        </div>*@
</section>
<!-- Instagram--fonts -->
<section class="Insta_font_wrp position-relative wow fadeIn  animated" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="Insta_content d-flex .flex-wrap row">
            <div class="Fst01 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <a href="https://fancytextgenerator.io/"> <h2 class="py-1">Fancy Text Generator</h2></a>
                    <p>
                        Are you searching for a Text Fonts Generator? Then, you are now on the right page. Yes, In this article, we are going to tell you the best
                        text generator for converting your fonts. This text fonts website allows you to generate cool text fonts that you can copy and paste into your
                        online social account. It's very useful for generating fancy symbols to make your profile look fantastic. It's the Best Text Fonts Generator
                        website in the whole world. Our online text fonts generator converts your simple text into Stylish & Cool Text. The tool is simply easy to use.
                        It’s an amazing copy and pastes fonts generator tool. Copy the text that you want to make stylish and paste it into the “Type Your Text” Box.
                        Then you will see it being automatically generated awesome & unique text fonts, are you looking for  <b> fancy text </b> On our website you
                        can generate almost unlimited different types of fancy text, our website is not limited to certain stylish text fonts.

                    </p>

                </div>
            </div>
            @*<div class="Fst02 frst_cmn01">
            <div class="F_part0 Fpart_cmn">
                <h2 class="py-1">What is a fancy text generator?</h2>
                <p>
                    Here you can find all the best fonts out there. We have named it “<b>Fancy Text Generator</b>” as it will provide you
                    tons of fancy text that you can use on your social media or wherever you want to use it.
                    It is quick and can generate almost all kinds of <b>fancy fonts</b> which are currently available on the internet as of now.
                </p>
                <p>
                    Some of you who play games will be looking for cool fonts and texts to use as their names for
                    games like Players Unknown Battlegrounds (PUBG) and might be thinking if this will work on your games,
                    so let us assure us that you can use <b>cool text generator</b> of ours on almost all your games. This website supports almost all
                    kinds of gaming platforms whether it is PUBG or Free Fire, or any other online games. It does not matter what game it is our website
                    supports almost all kinds of gaming where it is permissible to add a profile name i.e. if you are allowed to add a profile name for your
                    character then you can use our free <b>font generator</b> website to generate a unique attractive gaming profile name for yourself.
                </p>
                <p>

                </p>
            </div>
        </div>*@
            <div class="Fst03 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <h2>About Fancy Text Generator</h2>
                    <p>
                        Our website has the options where it’s creating lots of different - different types of stylish text and fonts by mixing emojis and
                        text faces with having lots of weird kinds of the symbol. This generator can convert your text into a cool font, these cool fonts are
                        not real fonts, but are completely different from the stock windows fonts on your computer. These fonts are composed of symbols from
                        Unicode, a set of codes that collects characters from various countries around the world. Each letter in the tables has many forms, and
                        the text combined by these various forms of the letter looks cool, like new fonts, and is therefore popular.

                    </p>
                    <p>
                        Unicode is an international standard for symbols in computer-related industries. It replaces “ASCII” and it contains all of the ASCII symbols
                        in its specification. Unicode is a computing industry standard for the consisting encoding, representation, and handling of text expressed
                        in most of the world’s writing systems. It can also be used as a  <b>big text generator </b> Our website’s fancy text is supported by
                        almost all types of devices and all operating systems like Linux, Windows, macOS, iOS, Android. Try our best-in-class font generator for
                        any category such as Sans serif fonts, cool fonts, google fonts, adobe fonts, script fonts, western fonts, and much more.


                    </p>
                    <p>
                        This site allows you to <b>generate cool text</b> for your Facebook, Twitter, Instagram account that you can copy and paste into your Snapchat
                        or Instagram bio, Profile names. It is very useful for generating LinkedIn, Pinterest, and Facebook profile name symbols to make your
                        profile and bio mind-blowing and have a little bit of creativity. It will also help you if you want to use <b>
                            Fancy Font, Cursive Font, Calligraphy
                            Font, Stylish Font, or Cool Fonts for Instagram
                        </b> or Reels bio. It is also the best cool font maker for all your games such as pubg or free fire.

                    </p>
                    <p>
                        You can use this as your <b>fancy name generator</b> as it will be able to generate the fancy name of the name you enter so that you can use it
                        on your social media or your gaming platforms. This <b>cool fonts generator</b> website is also known for
                    </p>
                    <ul>
                        <li>
                            cool text generator 
                        </li>

                        <li>	cool fancy text generator </li>
                        <li>    cool text fonts </li>
                        <li>	cool fonts for Instagram  </li>
                        <li>	cool fonts to draw  </li>
                        <li>	cool letter fonts </li>
                        <li>	cool fonts copy-paste </li>
                        <li>	cool handwriting </li>
                        <li>	cool fonts for logo  </li>
                        <li>	cool number fonts  </li>
                        <li>	cool jazz font </li>
                        <li>	cool free fonts </li>
                        <li>	cool symbol generator </li>
                        <li>	cool tattoo fonts  </li>
                        <li>	cool letters to paste </li>
                        <li>	cool handwriting fonts </li>
                        <li>	cool symbol font </li>
                        <li>	cool font maker </li>
                        <li>	cool font style </li>
                        <li>	cool fonts online </li>
                        <li>	cool fancy fonts</li>
                        <li>	cool cursive fonts </li>
                        <li>	cool typography</li>
                        <li>	cool words fonts</li>
                        <li>	cool fonts to write</li>
                        <li>	cool easy fonts</li>
                        <li>	cool fonts to copy</li>
                        <li>    cool name fonts </li>
                        <li>    cool calligraphy fonts </li>
                        <li>	cool title fonts</li>
                        <li>	cool fonts and symbols </li>
                        <li>    fancy handwriting</li>
                        <li>	fancy fonts for logos.</li>
                    </ul>
                </div>

            </div>
            
                <div class="Fst07 frst_cmn01 col-sm-12 col-md-12">
                <h2>Stylish Text & Font Generator use for Social Media</h2>
                <p>
                    Social Media platforms, especially Instagram, work with the number of likes and followers that you gain. Not just the pictures that you 
                    post but the captions that you add with them makes all the difference. By using this cool text generator, people of all age groups can
                    increase the number of likes and followers that they have on their social media. The <b>fancy text generating tool</b> is a great addition to 
                    one’s daily social media use. It is fun, unique, and is very easy to use. This special tool lets its users enjoy creating their 
                    captions and posts even more by making them one of a kind, helping them grab more attention.
                </p>
                <p>
                    Often more than not, people get tired of boring fonts and texts and they want something special to make their captions stand out.
                    Unfortunately, social media platforms and different websites only provide users with the option of using a standard, boring set of 
                    letters and fonts and there is no special or unique addition to them and nothing cool about them. And for all the cursive font lovers 
                    we have the cursive font available. 
                </p>
        
                <h3>
                    Fancy Text Generator Updates
                </h3>
                <img src="~/image/fancyimage.jpg" />
                <h2>
                    Fancy text generator for Instagram
                </h2>
                <p>
                    Are you looking for fancy text to use as your username or to use it as captions for your images on your social media? Then you have come
                    to the right place! Here you will find the best <b>fancy text generator for Instagram</b>, Facebook, and Twitter. You can use these amazing 
                    fancy texts on your social media to use them as your username or for captions.


                </p>
                <h2>Fancy text generator for roblox </h2>
                <p>
                    For all the Roblox players and lovers we present to you a <b>fancy text generator for Roblox</b> that you can use to get your username in 
                    fancy text, you can create a special fancy text theme for all your friends. Here we have tons of fancy text fonts available for you to 
                    choose from. Feel free to use any of them.


                </p>
                <h2>Fancy text generator for facebook  </h2>
                <p>
                    Use our <b>fancy text generator for Facebook</b> to create some cool usernames for yourself or create amazing fancy and cool captions 
                    your images. Send messages in different fonts. The best thing about our fancy text generator is that you can create your own
                    amazing personalized font style and use it for all your fancy text purposes.
                </p>
                <p>
                    To all the lovers and players of Player Unknown Battlegrounds (PUBG), we present a fancy text generator for pubg. Create your own personalized 
                    usernames for the game in amazing fancy fonts and you get to choose from tons of fancy font styles that are preloaded. Or if you want, then
                    you can create your fancy font style according to your needs and preferences

                </p>
                <h2>Fancy text generator for games  </h2>
                <p>
                    We present to you our <b>fancy text generator for games</b> using which you can create amazing and cool usernames in fancy texts. You can choose
                    from tons of different fancy texts that are made available to you or create your style. You can use them in all the games that support the
                    characters used in the text.


                </p>
                <h2>Fancy text generator for discord </h2>
                <p>
                    If you are looking for amazing and fancy usernames to use for your discord account then this is the best place! Here you will find 
                    tons of pre-loaded fancy text samples that you can choose from and create your usernames using this amazing <b>fancy text generator for discord</b>. 
                    The most amazing feature is that you can even create your font of fancy texts

                </p>
                <h3>Frequently Asked Question About fancy text generator</h3>
                <h3>What is a fancy text generator?</h3>
                <p>
                    Here you can find all the best fonts out there. We have named it “Fancy Text Generator” as it will provide you tons of fancy text that 
                    you can use on your social media or wherever you want to use it. It is quick and can generate almost all kinds of <b>fancy fonts</b> which are
                    currently available on the internet as of now.


                </p>
                <p>
                    Some of you who play games will be looking for cool fonts and texts to use as their names for games like Players Unknown Battlegrounds (PUBG) and
                    might be thinking if this will work on your games, so let us assure us that you can use <b>cool text generator</b> of ours on almost all your games.
                    This website supports almost all kinds of gaming platforms whether it is PUBG or Free Fire, or any other online games. It does not matter what
                    game it is our website supports almost all kinds of gaming where it is permissible to add a profile name i.e. if you are allowed to add a 
                    profile name for your character then you can use our free <b>font generator</b> website to generate a unique attractive gaming profile name for yourself.


                </p>

                <h3>How to use fancy text generator? </h3>
                <p>
                    It's absolutely easy to use the Fancy Text Generator. You follow just three steps to generate your <b>cool Fancy Text</b>. Using this
                    anyone can use this <b>Fancy Text Generator tool</b>.

                    <ul>
                        <li>
                            	Enter your normal text to the fancy text generator textbox you want to generate.

                        </li>
                        <li>
                            	Click on your favorite fancy text box to copy the fancy text to your clipboard.
                        </li>
                        <li>
                            	Paste the fancy text on any social media account to share with your friends & family.

                        </li>
                    </ul>
                </p>
                <img src="~/image/Arrow Banner.png" />
                <h3>
                    How to use the Crazy text generator?
               </h3>
                <p>
                    Enter the text which you want to convert into cool fonts just enter the text you want to display in different fonts in the input 
                    box “your text here” Select the font you like and then click on the text to copy it. The website will automatically convert your text 
                    into different unique, fancy, and cool fonts and display it on your screen. This font generator has a ton of fonts in it. Just scroll and
                    choose the font you like then copy it from there and use it wherever you want to use it, like your social media platforms like 
                    Instagram, Facebook, Twitter, and others, or in your gaming profiles of different games like pubg.

                </p>
                <h3>
                    How do I get the generated font?
                </h3>
                <p>
                   Getting the generated font is easy with our online font generator. All you need to do is highlight the generated font. Then, copy and paste to whatever
                    platform you wish.
                   Most computers, processors, and devices will accept and be compatible with the generated ‘font.’ However, there can be some exceptions. For
                    example, certain websites may not be able to support certain Unicode characters.
                   In these instances, you will see a symbol of a box instead of your fancy font. This box is the default whenever a browser cannot support a certain character
                </p>
                <h3>
                    What are the most famous types of fancy text to generate?
                </h3>
                <ul>
                    <li>
                       

                            <b>OLD ENGLISH</b> - this font style is used since the 5th century and this font develops a set of Anglo-Frisian. old English is the
                            font is traditional to look and textbook font like the old style. Example – 𝔉𝔞𝔫𝔠𝔶 𝔗𝔢𝔵𝔱
                       
                    </li>
                    <li>
                       
                            <b>	DOUBLE STRUCKthis</b> - font style is developed with this symbol Double-Struck 𝕒 𝕓 𝕔 𝕕 𝕖 𝕗 𝕘 𝕙 𝕚 𝕛 𝕜 𝕝 𝕞 𝕟 𝕠 𝕡 𝕢 𝕣 𝕤 𝕥 𝕦 𝕧 𝕨 𝕩 𝕪 𝕫 𝔸 𝔹 ℂ 𝔻 𝔼 𝔽 𝔾 ℍ 𝕀 𝕁 𝕂 𝕃 𝕄 ℕ 𝕆 ℙ ℚ ℝ 𝕊 𝕋 𝕌 𝕍 𝕎 𝕏 𝕐 ℤ 𝟙 𝟚 𝟛 𝟜 𝟝 𝟞 𝟟 𝟠 𝟡 𝟘use this font combination for this cool font. Example – 𝔽𝕒𝕟𝕔𝕪 𝕋𝕖𝕩𝕥

                        
                    </li>
                    <li>
                        
                            <b>LUNITOOLS BUBBLES</b> -Bubbles stylish font use for many purposes spatially for Facebook profile and Instagram profile this font is
                            collections of custom symbols are look like the same style of English word but surrounded by border circle its look like a bubble.
                            Example – Ⓕⓐⓝⓒⓨ Ⓣⓔⓧⓣ

                       
                    </li>
                    <li>
                       
                            <b>INVERTED SQUARES</b> - Inverted Square font looks like the below example most of the people are set this font to our Facebook or
                            telegram name because it's very attractive looks different from others do attract person attentions. Example – 🅵🅰🅽🅲🆈 🆃🅴🆇🆃

                        
                    </li>
                    <li>
                       
                            <b>FAT TEXT</b>- Fat Text is developed with is symboles ᗩᗷᑕᗪEᖴGᕼIᒍKᒪᗰᑎOᑭᑫᖇᔕTᑌᐯᗯ᙭Yᘔ0123456789 its Fat style of font looks fabulous 
                            Example – ᖴᗩᑎᑕƳ 丅ᗴ᙭丅

                        
                    </li>
                    <li>
                        
                            <b>WIDE TEXT</b>- Wide text generator is basic online font just add one letter space between them and its look supper example is given below.
                            Example – Ｆａｎｃｙ Ｔｅｘｔ

                        
                    </li>
                    <li>
                       
                            <b>BOLD Text</b>-Bold Text is commonly used most Editors are provide this font to users but yes wee includes it in our list to explain
                            because without bold it's not a completely fancy font list. Example – 𝐅𝐚𝐧𝐜𝐲 𝐓𝐞𝐱𝐭

                        
                    </li>
                    <li>
                        
                            <b>SQUARES </b>-Square font and Inverted Square font are parallelly the same fonts just one different fill the block color in square and another
                            one is without fill black color it's transparent. Example – 🄵🄰🄽🄲🅈 🅃🄴🅇🅃

                        
                    </li>
                    <li>
                       
                            <b>ASIAN STYLE</b>- Asian style front looks like something like the Japanese version of the English word. it means if the English word
                            font style looks like Japanese style. Example – 千卂几匚ㄚ ㄒ乇乂ㄒ

                       
                    </li>
                    <li>
                        
                            <b>TILDE STRIKE THROUGH</b>- Strikethrough font style us in now ad day in editors also provide in this font style in English word in
                            between the character set the line it looks like this. Example– F̴a̴n̴c̴y̴ ̴T̴e̴x̴t̴

                       
                    </li>
                    <li>
                        
                            <b>Fancy text converter</b>- A <b>fancy text converter</b> is a tool that you can use to make the fancy texts that you need. This tool helps you
                            to generate a fancy font style, with the help of this tool you can make the general text font style to fancy font style.
                        
                    </li>
                    <li>
                       
                            <b> letter generator</b>- When you want to send your letter or message in fancy text that is when this <b>fancy letter generator</b> tool is very
                            helpful to you. It converts your text to a fancy text that you can then use. You can use this tool on online websites.

                        
                    </li>
                    <li>
                        
                            <b>Big text generator</b>- You can also use this tool as a big text generator, using which you can generate big size texts.
                            You can use this big fancy text according to your wish on your various social media platform and also on all the various games that you play.

                        
                    </li>
                    <li>
                       
                            <b>Fancy word generator</b>- You can use our <b>fancy word generator</b> for free to make your messages and texts fancy.
                            This tool will help you to make your texts and messages fancy for you to use on your social media and send messages to your friends and family.

                       
                    </li>
                     <li> 
                        <b> Special font generator</b>- You can use a <b>special font generator</b> to convert normal font messages to special fancy font messages
                        that you can send to your friends and family on special occasions. These special texts can be your version of the fancy text as we allow
                        you to make your fonts.
                    
                    </li>

                    <li>

                    
                        <b>Crazy text generator</b>- You can use this <b>crazy text generator</b> to make crazy fancy fonts to make your messages and texts funky and fancy.
                        This font can use be used on various gaming platforms and social media platforms to make some interesting captions for your pictures.

                    
                        </li>
                   <li> 
                        <b>Fancy text maker</b>- This fancy text generator is also known as a <b>fancy text maker</b>. This tool can be accessed for free on your website.
                        You can also make your fancy text font that is your personalized font. If you don’t want to make your fonts then you can use our preloaded fonts.

                   
                    </li>
                    <li>

                    
                        <b>	█▀█ █▄█ ▀█▀ font</b>-There are tons of different fonts that you can choose from to make your texts fancy like<b> █▀█ █▄█ ▀█▀ font</b> which you
                        can use to make your texts fancy. All these texts are available free of cost for you to use.
                    
                        </li>


                  <li>  
                        <b>Fancy fonts text</b>- is the best way to make your texts amazing and fancy looking. And then you can use these fancy texts for
                        different purposes
                        like captions for your images on social media and text messages. There are tons of different <b>fancy text fonts</b> that you can choose from.

                    
                    </li>

                 <li> 
                        <b>Font generator copy and paste</b>- After you have generated your fancy text all you need to do is to copy the text from the website
                        and then paste it to the place you need it on. In all this process all, you need to do is <b>font generator copy and paste</b>. 

                   
                    </li>
                </ul>
                   <h3>Here is the list of some best fancy text</h3>

                   <ul>
                       <li>
                           SYMBOLS - ꄞꁲꋊꀯꐞ ꋖꈼꇒꋖ
                       </li>
                       <li>OLD ENGLISH - 𝔉𝔞𝔫𝔠𝔶 𝔗𝔢𝔵𝔱  </li>
                       <li>MEDIEVAL - 𝕱𝖆𝖓𝖈𝖞 𝕿𝖊𝖝𝖙 </li>
                       <li>	CURSIVE - 𝓕𝓪𝓷𝓬𝔂 𝓣𝓮𝔁𝓽 </li>
                       <li>	SCRIPTIFY - 𝐹𝒶𝓃𝒸𝓎 𝒯𝑒𝓍𝓉 </li>
                       <li>	DOUBLE STRUCK - 𝔽𝕒𝕟𝕔𝕪 𝕋𝕖𝕩𝕥 </li>
                       <li>	ITALIC - 𝘍𝘢𝘯𝘤𝘺 𝘛𝘦𝘹𝘵 </li>
                       <li>	BOLD ITALIC - 𝙁𝙖𝙣𝙘𝙮 𝙏𝙚𝙭𝙩 </li>
                       <li>	MONO SPACE - 𝙵𝚊𝚗𝚌𝚢 𝚃𝚎𝚡𝚝 </li>
                       <li>	LUNITOOLS BUBBLES - Ⓕⓐⓝⓒⓨ Ⓣⓔⓧⓣ </li>
                       <li>	INVERTED SQUARES - 🅵🅰🅽🅲🆈 🆃🅴🆇🆃 </li>
                       <li>	FAT TEXT - ᖴᗩᑎᑕƳ 丅ᗴ᙭丅 </li>
                       <li>	WIDETEXT - Ｆａｎｃｙ Ｔｅｘｔ </li>
                       <li>	BOLD - 𝐅𝐚𝐧𝐜𝐲 𝐓𝐞𝐱𝐭 </li>
                       <li>	LUNI TOOLS FLIP - ʇxǝ⊥ ʎɔuɐℲ </li>
                       <li>	REVERSE MIRROR - ɟɐuɔʎ ʇǝxʇ </li>
                       <li>	SQUARES - 🄵🄰🄽🄲🅈 🅃🄴🅇🅃 </li>
                       <li>	LUNI TOOLS MIRROR - ƚxɘT ʏɔᴎɒꟻ </li>
                       <li>	INDIAN WAY - ԲคՈ८ע ੮૯૪੮ </li>
                       <li>	BIG RUSSIAN - FДИCУ ΓΞЖΓ </li>
                       <li>	ASIAN STYLE 千卂几匚ㄚ ㄒ乇乂ㄒ </li>
                       <li>	SUPERSCRIPT (SMALL) - ᶠᵃⁿᶜʸ ᵀᵉˣᵗ </li>
                       <li>	SUBSCRIPT (SMALL) - Fₐₙcy ₜₑₓₜ </li>
                       <li>LUNI TOOL STINY - ꜰᴀɴᴄʏ ᴛᴇxᴛ </li>
                       <li>	STRIKE THROUGH - F̶a̶n̶c̶y̶ ̶T̶e̶x̶t̶ </li>
                       <li>	TILDE STRIKE THROUGH - F̴a̴n̴c̴y̴ ̴T̴e̴x̴t̴ </li>
                       <li>	SLASH THROUGH - 𝙵̷𝚊̷𝚗̷𝚌̷𝚢̷ 𝚃̷𝚎̷𝚡̷𝚝̷ </li>
                       <li>	UNDERLINE - F̲a̲n̲c̲y̲ ̲T̲e̲x̲t̲ </li>
                       <li>	DOUBLE UNDERLINE - F̳a̳n̳c̳y̳ ̳T̳e̳x̳t̳ </li>
                       <li>ARROW UNDERLINE - F͢a͢n͢c͢y͢ T͢e͢x͢t͢ </li>
                       <li>ATMAN - F̼a̼n̼c̼y̼ T̼e̼x̼t̼ </li>
                       <li>	LUNI CREEPIFY & Glitch (Zalgo) - F̸̨̤̀̈́̋̒̾̉̂͝ã̶̫͎̣̙̦̱̋̄́͂̈͂͝n̴͍͎̰͇̥̈́̔̍̈́͆c̶̛͇̳̞̪̲̲̥̰̪̋̒͜y̵̷̨̛̖͍͍̤͕̯̳̥̺͈͚͓̅̉̈́̈́̓̾͗̕͘͜͜ T̸̹̞̳͔͎̯͔̀̃̿͊͋́̈́͂͝e̴̩̼͗̎̈x̷͖̺̑͛̂̑͂̃͋̄́͠t̴̰̪̗͕̙̐͒̾͌ </li>
                       <li>WAVY JOINER - ≋F≋a≋n≋c≋y≋ ≋T≋e≋x≋t≋ </li>
                       <li>	WEIRD BOX - [̲̅F][̲̅a][̲̅n][̲̅c][̲̅y] [̲̅T][̲̅e][̲̅x][̲̅t] </li>
                       <li>DOTTY JOINER - ░F░a░n░c░y░ ░T░e░x░t░ </li>
                       <li>LUNI ROUND SQUARES - F⃣ a⃣ n⃣ c⃣ y⃣ T⃣ e⃣ x⃣ t⃣ </li>
                       <li>LUNI SQUARES - F⃞ a⃞ n⃞ c⃞ y⃞ T⃞ e⃞ x⃞ t⃞ </li>
                       <li>	THICK BLOCK FRAMED- 【F】【a】【n】【c】【y】 【T】【e】【x】【t】</li>
                       <li>	DIAMETRIC ANGLE FRAME - 『F』『a』『n』『c』『y』 『T』『e』『x』『t』</li>
                       <li>	VAPORWAVE TEXT - Ｆａｎｃｙ Ｔｅｘｔ</li>
                       <li>LITTLE SPARKLES - ˜”*°•.˜”*°• Fancy Text •°*”˜.•°*”˜ </li>
                       <li>	FIREWORK - F҉a҉n҉c҉y҉ ҉T҉e҉x҉t҉ </li>
                       <li>	STINKY - F̾a̾n̾c̾y̾ ̾T̾e̾x̾t̾ </li>
                       <li>HEARTS BETWEEN - F♥a♥n♥c♥y♥ ♥T♥e♥x♥t </li>
                       <li>KIRBY HUG - (っ◔◡◔)っ ♥ Fancy Text ♥ </li>
                       <li>	CURRENCY - ₣₳₦₵Ɏ ₮ɆӾ₮ </li>
                       <li>	Emoji and Text icon - ♩👮 Ｆａ𝓷Čｙ 𝓽ᗴЖ𝓽 ☝💝 </li>

                      
                   </ul>
                   
                     <h3>How can I add special fancy fonts to Instagram bio? </h3>
                <p>
                    Enter your text in fancy text generator then your text will be shown in different-different fancy fonts from
                    there all you need to do is copy the text and then you can paste it in your Instagram bio.
                </p>
                <h3>Can I use fancy text generator pro for my website on computer? </h3>
                <p>
                    Yes, you can use this fancy text generator on your website on the computer. Just enter your text and pick the fancy font
                    style of the text and you are good to go.

                </p>
                <h3>How can I use the fancy text generator pro website on my mobile? </h3>
                <p>
                    To use fancy text generator website on your mobile all you need to do is search for fancy text generator
                    in your web-browser or you can use our direct link <a class="link-reset" href="https://fancytextgenerator.io/">https://fancytextgenerator.io/</a>
                </p>
                <h3>Can I generate fancy fonts for twitter? </h3>
                <p>
                    Yes, you can generate fancy and cool fonts for twitter using fancy font generator. All you need to do
                    is enter your text and choose your font style and then you can just copy and paste your text
                </p>
                <h3>Can I use fancy fonts for Instagram bio? </h3>
                <p>
                    Yes, you can generate amazing fancy text fonts for your Instagram bio using fancy font generator.
                    All you required to do is enter your text and then you can just copy your favorite font style.

                </p>
                <h3>How can I generate fancy text with cursive letters? </h3>
                <p>
                    To generate fancy text with cursive letters all you need to is to select make your font option and choose
                    cursive letters and then enter your text. The output will be shown side by side.

                </p>
                <h3>How unique fancy text generator is? </h3>
                <p>
                    Fancy text generator is all unique as it depends on your imagination how unique and amazing fancy fonts you
                    can generate using the option of make your own fancy text.

                </p>
                <h3>
                    How to generate happy birthday fancy text generator?
                </h3>
                <p>
                    To generate Happy Birthday in fancy text all you need to is to enter your text and choose your font style, you
                    can even make your own fancy font style.
                </p>
            </div>
        </div>
        <div class="Design_font" onclick="topFunction()">
            <a href="#" type="button" role="button">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    @*<input id="copyinput" style="display:none">
    <input id="copyinput1" style="display:none">
    <input id="copyinput2" style="display:none">
    <input id="copyinput3" style="display:none">
    <input id="copyinput4" style="display:none">*@
</section>
<!--<footer class="wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="Footer_content row">
            <div class="Ft_cnt2 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="Ft_heading">-->
                    @*<h2>quick Links</h2>*@
                <!--</div>-->
                @*<div class="FT_contnt">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li> <a href="#">Contact</a></li>
                        <li><a href="#">Casino game Rules</a></li>
                        <li><a href="#">Term & Condition</a></li>
                    </ul>
                </div>*@
            <!--</div>
            <div class="Ft_cnt3 Ftr_cmn01 col-12 col-sm-6 col-md-4">
                <div class="Ft_heading">-->
                    @*<h2>contact Us</h2>*@
                <!--</div>-->
                @*<div class="FT_contnt">
                    <ul>
                        <li><a href="#">Responsible gaming</a></li>
                        <li><a href="#">privacy & Security</a></li>
                        <li> <a href="#">Contact</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">History of Casino Games</a></li>
                    </ul>
                </div>*@
            <!--</div>
            <div class="Ft_cnt4 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="Ft_heading">
                    <h2>Social</h2>
                </div>
                <div class="FT_contnt">
                    <ul class="Unord_First">
                        <li>
                            <a href="#" class="social-icon Sl_01">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_02">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_03">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_04">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="Unord_second">
                        <li><a href="mailto:"><i class="fas fa-envelope"></i>Insta@InstaFont.com.au</a></li>
                        <li><a href="#:"><i class="fas fa-phone-alt"></i> +61 7220 4747</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    copyright section
    <div class="copyright_wrapper">
        <div class="container">
            <div class="Copyright_content">
                <p>
                    <span>2020 instaFont.com © All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>
</footer>-->




