@{
    ViewBag.Title = "Home Page";
}
@using FontsPriject.Models
@model FontsPriject.Models.Font_List
@{
    List<Font_Models> fontList = new List<Font_Models>();
    if (Model != null)
    {
        fontList = Model.list;

    }
}



<header class="my-4">
    <div style="margin:0 10px 0 10px;">
        <nav>
            <div class="logo">
                @*<h2>Fancy Text <br /><span>Generator</span></h2>*@
                <a href="#">
                    <img src="~/image/logo3.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="nav-item col-right" id="myHeader">
                <ul>
                   @* <textarea></textarea>*@
                    <li><a href="@Url.Action("About" ,"Home")">About Us</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    <li><a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Disclaimer","Home")">Disclaimer</a></li>
                    <li><a href="@Url.Action("TermCondition","Home")">Term & Condition</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="main-bar">
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
        </div>
        <div class="Heading_wrp row">
            @*<div class="Inpt">
                   <input class="pb-5 px-2 text-secondary col-12 bg-white" type="text" name="text" id="text1" placeholder="type or paste some text here">
                </div>*@
        </div>
    </div>
</header>
<!-- banner -->
<section class="banner">
    <div class="container">
        <div class="banner_content row">
            <div class="banner_cont1 bnr_commmn col-12 col-sm-12 col-md-6"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="2000" data-aos-easing="ease-in-out">
                <h1 class="line-1 anim-typewriter">
                    Fancy Text Generator <br /> & Font Changer 
                    @*😎 Cool Font Generator*@
                </h1>
                <p>
                    Fonts for Instagram, Facebook, WhatsApp, Twitter, Snapchat, Tiktok & any other places....
                </p>
                <div class="search">
                    <input type="text" id="text1" name="font" placeholder="search your font here..." onkeyup="myfunction()" >
                    <div class="search-item">
                        <svg width="25px" height="25px" viewBox="0 0 1024 1024" data-aut-id="icon" class="" fill-rule="evenodd">
                            <path class="rui-77aaa" d="M448 725.333c-152.917 0-277.333-124.416-277.333-277.333s124.416-277.333 277.333-277.333c152.917 0 277.333 124.416 277.333 277.333s-124.416 277.333-277.333 277.333v0zM884.437 824.107v0.021l-151.915-151.936c48.768-61.781 78.144-139.541 78.144-224.192 0-199.979-162.688-362.667-362.667-362.667s-362.667 162.688-362.667 362.667c0 199.979 162.688 362.667 362.667 362.667 84.629 0 162.411-29.376 224.171-78.144l206.144 206.144h60.352v-60.331l-54.229-54.229z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- table -->
<section class="Font_table_wrp wow fadeIn  animated" style="visibility: hidden; animation-name: none;" id="Font_table">
    <div class="container-fluid">
        <div class="Font_table">
            <ul class="row d-flex justify-space-between Unorder1 outList">
              
           
          
                
                @*<li class=" py-3 CopyContent" id="CopyContent">
                        1
                        <i class="fas fa-copy" title="Copy Text" onclick="copyFn()"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        2
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        3
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        4
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        5
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        6
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        7
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        8
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>
                    <li class=" py-3">
                        9
                        <i class="fas fa-copy" title="Copy Text"></i>
                    </li>*@
            </ul>
        </div>
    </div>
</section>
<!-- end--here -->
<!-- content -->
<section class="font_desing">
    <div class="side_animation">
        <div class="mid_anime">
        </div>
    </div>
    <div class="container row">
        <div class="Font_wrp bg-white text-center py-1 mb-3">
            <h5>Need more fonts?</h5>
            <a href="@Url.Action("CustomFonts" ,"Home")">Design Your Own Fancy Fonts</a>
        </div>
    </div>
    @*<narrow.length> list of Item </narrow.length>*@

    @*<div

            <select id="list1" name="fontsize">
                <option value="1">20px</option>
                <option value="2">32px</option>
                <option value="3">45px</option>
                <option value="4">65px</option>
                <option value="5">70px</option>
            </select>
            <button onclick="function1()">Click me</button>
        </div>*@
</section>
<!-- Instagram--fonts -->
<section class="Insta_font_wrp position-relative wow fadeIn  animated" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="Insta_content d-flex .flex-wrap row">
            <div class="Fst01 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                   <a href="https://fancytextgenerator.io/"> <h2 class="py-1">Fancy Text Generator</h2></a>
                    <p>
                        Are you searching for a Text Fonts Generator? Then, you are now on the right page. Yes, In this article,
                        we are going to tell you the best text generator for converting your fonts. This text fonts website allows
                        you to generate cool text fonts that you can copy and paste into your online social account. It's very useful for generating
                        fancy symbols to make your profile look fantastic. It's the Best Text Fonts Generator website in the whole world.
                        Our online text fonts generator converts your simple text into Stylish & Cool Text. The tool is simply easy to use.
                        It’s an amazing copy and pastes fonts generator tool. Copy the text that you want to make stylish and paste it into
                        the “Type Your Text” Box. Then you will see it being automatically generated awesome & unique text fonts, are you looking
                        for a <b> fancy text </b> to write on your Instagram caption or your Facebook caption? our website you can generate almost all kinds
                        of different - different types of fancy text to help you with your social media skills.
                    </p>
                    <p>
                        On our website you can generate almost unlimited different types of fancy text, our website is not limited to certain stylish text fonts.
                    </p>
                </div>
            </div>
            <div class="Fst02 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <h2 class="py-1">What is a fancy text generator?</h2>
                    <p>
                        Here you can find all the best fonts out there. We have named it “<b>Fancy Text Generator</b>” as it will provide you
                        tons of fancy text that you can use on your social media or wherever you want to use it.
                        It is quick and can generate almost all kinds of <b>fancy fonts</b> which are currently available on the internet as of now.
                    </p>
                    <p>
                        Some of you who play games will be looking for cool fonts and texts to use as their names for
                        games like Players Unknown Battlegrounds (PUBG) and might be thinking if this will work on your games,
                        so let us assure us that you can use <b>cool text generator</b> of ours on almost all your games. This website supports almost all
                        kinds of gaming platforms whether it is PUBG or Free Fire, or any other online games. It does not matter what game it is our website
                        supports almost all kinds of gaming where it is permissible to add a profile name i.e. if you are allowed to add a profile name for your
                        character then you can use our free <b>font generator</b> website to generate a unique attractive gaming profile name for yourself.
                    </p>
                    <p>

                    </p>
                </div>
            </div>
            <div class="Fst03 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <h2>About Fancy Text Generator</h2>
                    <p>
                        Our website has the options where it’s creating lots of different - different types of stylish text
                        and fonts by mixing emojis and text faces with having lots of weird kinds of the symbol. This generator can convert your text into a cool
                        font, these cool fonts are not real fonts, but are completely different from the stock windows fonts on your computer. These fonts are composed
                        of symbols from Unicode, a set of codes that collects characters from various countries around the world. Each letter in the tables has many forms, and
                        the text combined by these various forms of the letter looks cool, like new fonts, and is therefore popular.
                    </p>
                    <p>
                        Unicode is an international standard for symbols in computer-related industries. It replaces “ASCII” and it contains all
                        of the ASCII symbols in its specification. Unicode is a computing industry standard for the consisting encoding, representation,
                        and handling of text expressed in most of the world’s writing systems. The standard is maintained by the Unicode Consortium, and as of June
                        2018 the most recent version, Unicode 11.0, contains a repertoire of 137,439 characters covering 146 modern and historic scripts, as well
                        as multiple symbol sets and emoji. It can also be used as a <b>big text generator </b> to enlarge the texts and then whichthen can be used in
                        various places like all
                        the social media platforms like Instagram, Facebook, and others
                    </p>
                    <p>
                        To use this<b> special text generator</b> all you need to do is type in the text that you want to get
                        converted into fancy, and then click on the generate now button then in just a few seconds your new
                        fancy text will be displayed on the screen. This fancy text generator is one of the best available online. Download and
                        generate all types of free fonts on our <b>free font generator</b>. Our website’s fancy text is supported by almost all types of devices and all
                        operating systems like Linux, Windows, macOS, iOS, Android. Try our best-in-class font generator for any category such as Sans serif fonts, cool
                        fonts, google fonts, adobe fonts, script fonts, western fonts, and much more.
                    </p>
                    <p>
                        This site allows you to generate cool text for your Facebook, Twitter, Instagram
                        account that you can copy and paste into your Snapchat or Instagram bio, Profile names. It is very useful for generating
                        LinkedIn, Pinterest, and Facebook profile name symbols to make your profile and bio mind-blowing and have a little bit of creativity.
                        It will also help you if you want to use Fancy Font, Cursive Font, Calligraphy Font, Stylish Font, or Cool Fonts for Instagram or Reels bio.
                        It is also the best cool font maker for all your games such as pubg or free fire.
                    </p>
                    <p>
                        You can use this as your <b>fancy name generator</b> as it will be able to generate the fancy name of the name
                        you enter so that you can use it on your social media or your gaming platforms. This cool fonts generator website is also known
                        for cool text generator, cool fancy text generator, cool text fonts, cool fonts for Instagram, cool fonts to draw, cool letter fonts, cool fonts
                        copy-paste, cool handwriting, cool fonts for logos, cool number fonts, cool jazz font, cool free fonts, cool symbol generator, cool tattoo fonts, cool
                        letters to paste, cool handwriting fonts, cool symbol font, cool font maker, cool font style, cool fonts online, cool fancy fonts,
                        cool cursive fonts, cool typography, cool words fonts, cool fonts to write, cool easy fonts, cool fonts to copy, cool name fonts, cool calligraphy
                        fonts, cool title fonts, cool fonts and symbols, fancy handwriting, fancy fonts for logos.
                    </p>
                </div>

            </div>
            <div class="Fst04 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <h2>How to use the Crazy text generator?</h2>
                    <p>
                        Enter the text which you want to convert into cool fonts just enter the text you want to display in different fonts in the
                        input box “your text here”
                        Select the font you like and then click on the text to copy it. The website will automatically convert
                        your text into different unique, fancy, and cool fonts and display it on your screen. This font generator has a ton of fonts in it.
                        Just scroll and choose the font you like then copy it from there and use it wherever you want to use it, like your social media platforms
                        like Instagram, Facebook, Twitter, and others or in your gaming profiles of different games like pubg.

                    </p>
                </div>
            </div>
            <div class="Fst05 frst_cmn01">
                <div class="F_part0 Fpart_cmn">
                    <h2>How do I get the generated font?</h2>
                    <p>
                        Getting the generated font is easy with our online font generator.
                        All you need to do is highlight the generated font. Then, copy and paste to whatever platform you wish.
                    </p>
                    <p>
                        Most computers, processors, and devices will accept and be compatible with the generated ‘font.’ However,
                        there can be some exceptions. For example, certain websites may not be able to support certain Unicode characters.
                    </p>
                    <p>
                        In these instances, you will see a symbol of a box instead of your fancy font.
                        This box is the default whenever a browser cannot support a certain character.
                    </p>
                </div>

            </div>
            <div class="Fst06 frst_cmn01 col-sm-12 col-md-12">
                <h2>Ideas for how to use your generated font</h2>
                    <ul>
                        <li> The sky’s the limit when it comes to generating fonts. Here are just some ideas to get you started:</li>
                        <li> Stand-out and impress your followers with a unique Instagram bio</li>
                        <li> Send interesting text messages to your friends and family</li>
                        <li>  Use it as a cool nickname for your web-based game</li>
                          <li>  Get noticed on online platforms like Discord, Reddit, or Quora</li>
                          <li> Make your YouTube video headline or descriptions exciting and fun</li>
                          <li> Create your digital signature with a cursive-style generated font</li>
                          <li>  Design wedding invitations</li>
                          <li>  Use these unique fonts in your emails</li>
                          <li>  You can even use a unique font for your wifi network if your router allows</li>
                          <li>  And more…</li>
                    </ul>
                <p>
                    Different text styles resulting from the generator can include unique cursive, calligraphy,
                    handwriting, and web script fonts. You can also choose to add different symbols and emojis as well.
                    Technically a font generator does not generate fonts. Instead, this type of text generator maps the
                    inputted text to related, but ‘fancier’ symbols or characters that are part of the Unicode Standard

                </p>
            </div>
            <div class="Fst07 frst_cmn01 col-sm-12 col-md-12">
                <h2>Stylish Text & Font Generator use for Social Media</h2>
                <p>
                    Social Media platforms, especially Instagram, work with the number of likes
                    and followers that you gain. Not just the pictures that you post but the captions that you add
                    with them makes all the difference. By using this cool text generator, people of all age groups can increase the number of likes
                    and followers that they have on their social media.
                </p>
                <p>
                    It is with this tool that your social media presence can be transformed completely and shown to the
                    outer world with a completely new and different look. A transformed and unique social media can not only help one
                    get more likes and comments but can also positively contribute towards increasing their influence as it helps in creating captions
                    and posts that are eye-catching.
                </p>
                <p>
                    The fancy text generating tool is a great addition to one’s daily
                    social media use. It is fun, unique, and is very easy to use. This special tool lets its users enjoy creating
                    their captions and posts even more by making them one of a kind, helping them grab more attention.
                </p>
                <p>
                    Often more than not, people get tired of boring fonts and texts and they want
                    something special to make their captions stand out. Unfortunately, social media platforms and different websites only
                    provide users with the option of using a standard, boring set of letters and fonts and there is no special or unique addition to them and
                    nothing cool about them.
                </p>
                <p>
                    And for all the cursive font lovers we have the cursive font available.
                    The cursive font is a very fancy yet elegant font and those who want the same should go for it. The cursive font has
                    been an important part of writing for a very long time. There are multiple scripts out there for the cursive letter which go back
                    as far as the fifth century, These scripts include
                </p>
                <p>
                    the <b>Spencerian method</b> script which was created by Platt Rogers Spencer.
                    These are the same script letters that the original Coca Cola logo has been written in. Another script is the
                    <b>D’Nealian</b> script which was the creation of Austin Norman Palmer. Cursive Generator is used in calligraphy as well.
                    The calligraphy style of writing is used for writing things such as wedding invitations, greeting cards, school diplomas, etc
                </p>
                <p>
                    Back in the eighth century, an English monk was ordered by Charlemagne to
                    design a standard set for cursive writing generator which would comprise of word separation,
                    lowercase letters in cursive as well as punctuation. Back when the Norman conquest took place in the 11th century,
                    cursive handwriting was used for official documents as well as personal correspondence. With time, the use of gadgets and electronic
                    devices has made typing replace handwritten notes and documents. However, the importance of print to cursive fonts and scripts remains
                    considering that many people still wish to use these whether what they are writing is handwritten or typed with a computer or a mobile phone
                </p>
                <p>
                    The reason behind this is very simple. Cursive fonts help make words and letters look both more formal
                    as well as personalized. For instance, when attaching a note with a gift, more often people use a cursive font as
                    it makes the message appear more personal and beautiful
                </p>
            </div>
        </div>
        <div class="Design_font" onclick="topFunction()">
            <a href="#" type="button" role="button">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    @*<input id="copyinput" style="display:none">
    <input id="copyinput1" style="display:none">
    <input id="copyinput2" style="display:none">
    <input id="copyinput3" style="display:none">
    <input id="copyinput4" style="display:none">*@
</section>
<!--<footer class="wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="Footer_content row">
            <div class="Ft_cnt2 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="Ft_heading">-->
                    @*<h2>quick Links</h2>*@
                <!--</div>-->
                @*<div class="FT_contnt">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li> <a href="#">Contact</a></li>
                        <li><a href="#">Casino game Rules</a></li>
                        <li><a href="#">Term & Condition</a></li>
                    </ul>
                </div>*@
            <!--</div>
            <div class="Ft_cnt3 Ftr_cmn01 col-12 col-sm-6 col-md-4">
                <div class="Ft_heading">-->
                    @*<h2>contact Us</h2>*@
                <!--</div>-->
                @*<div class="FT_contnt">
                    <ul>
                        <li><a href="#">Responsible gaming</a></li>
                        <li><a href="#">privacy & Security</a></li>
                        <li> <a href="#">Contact</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">History of Casino Games</a></li>
                    </ul>
                </div>*@
            <!--</div>
            <div class="Ft_cnt4 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                 data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="Ft_heading">
                    <h2>Social</h2>
                </div>
                <div class="FT_contnt">
                    <ul class="Unord_First">
                        <li>
                            <a href="#" class="social-icon Sl_01">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_02">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_03">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon Sl_04">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="Unord_second">
                        <li><a href="mailto:"><i class="fas fa-envelope"></i>Insta@InstaFont.com.au</a></li>
                        <li><a href="#:"><i class="fas fa-phone-alt"></i> +61 7220 4747</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    copyright section
    <div class="copyright_wrapper">
        <div class="container">
            <div class="Copyright_content">
                <p>
                    <span>2020 instaFont.com © All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>
</footer>-->




