
@{
    ViewBag.Title = "View_About";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<header class="my-4 privacy_wrp">
    <div style="margin:0 10px 0 10px;">
        <nav>
            <div class="logo">
                @*<h2>Fancy Text <br /><span>Generator</span></h2>*@
                <a href="@Url.Action("Index","Home")">
                    <img src="~/image/logo3.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="nav-item col-right" id="myHeader">
                <ul>
                    <li><a href="@Url.Action("About" ,"Home")">About Us</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    <li><a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Disclaimer","Home")">Disclaimer</a></li>
                    <li><a href="@Url.Action("TermCondition","Home")">Term & Condition</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="main-bar">
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
        </div>
        <div class="Heading_wrp row">
            @*<div class="Inpt">
                   <input class="pb-5 px-2 text-secondary col-12 bg-white" type="text" name="text" id="text1" placeholder="type or paste some text here">
                </div>*@
        </div>
    </div>
</header>

<div class="main_content">
    <div class="container">
        <p>
            In need of a <b>fancy text generator</b>, then let me assure you that you have come to the best and one of the most
            elite fancy text generators. Our fancy text generator is as simple as it gets. All you need to do is type in your text in 
            the “search your font here” as soon as you enter your text you will see your text being naturally produced in amazing and extraordinary
            content textual styles that are presented to you at the same to compare and choose the best one for you and then you can simply copy the fancy
            text that you like and paste it wherever you want to write it. Well, we are the best not just because we provide tons of fancy text. We provide you
            much more than that, we provide you with the option of creating your fancy text style. yes, you read it right you can make your text style, what 
            can be better than that.
        </p>
        <h2><a href="@Url.Action("Index","Home")">Fancy Text Generator</a>
            
        </h2>
        <p>
            Our fancy text generator is exceptionally helpful for creating extravagant texts that you can use as
            captions on your images to make your profile look incredible. Would you say you are searching for extravagant content to compose
            on your Instagram subtitle or your Facebook inscription? our site you can produce practically all sorts of various - various kinds of 
            extravagant content to assist you with your web-based media abilities. Here are some famous styles of fancy texts. </p>
            <ul>
                <li>
                    🅸🅽🆅🅴🆁🆃🅴🅳 🆂🆀🆄🅰🆁🅴🆂 🆃🅴🆇🆃
                </li>
                <li>
                    𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜 𝕋𝕖𝕩𝕥
                  </li>
                <li>
                    𝔒𝔩𝔡 𝔈𝔫𝔤𝔩𝔦𝔰𝔥 𝔗𝔢𝔵𝔱
                    </li>
                   <li> Ⓑⓤⓑⓑⓛⓔⓢ Ⓣⓔⓧⓣ
                </li>

                  <li>  😝🎈 ⓕυ𝐥l 𝒸Ⓡᗩz𝐘 𝓉𝒆𝕏𝕋 🐼☆
                </li>
                   <li> ʇxǝ⊥ dılℲ
                </li>
                    <li>and so many other text generators.

                </li>
            </ul>
            <h2>
                Why Fancy Text Generator Tool is Different?
            </h2>
            <p>
                On our site you can create practically limitless various kinds of extravagant content, our site isn't restricted to 
                certain a la mode text textual styles. It is fast and can produce practically a wide range of extravagant text styles which
                are at present accessible on the web as of now. Our font generator supports emojis so you will get loads of text to choose from also
                making your text cute with the help of emojis.

            </p>
            <p>
                Our Fancy text generator works based on UNICODE which is essentially composed of symbols that are collected from
                various countries around the globe. Thus providing you with no repetition while providing tons of fancy text styles and don’t forget
                about the fact that you get to create your fancy text styles. You can access all this for free here at Fancy Text Generator. 
            </p>
            <p>
                For any questions or queries please use our <a href="@Url.Action("Contact","Home")">contact page</a>
                 to reach us.
            </p>

    </div>
</div>